asgiref==3.4.1
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.8
diagnostic-analysis==1.10.4
diagnostic-common-diagnostics==1.10.4
diagnostic-updater==1.10.4
dj-database-url==0.5.0
Django==3.2.9
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==21.1
django-crispy-forms==1.13.0
django-heroku==0.3.1
djangorestframework==3.12.4
gencpp==0.6.5
geneus==3.0.0
genlisp==0.4.18
genmsg==0.5.16
gennodejs==2.0.2
genpy==0.6.15
idna==3.3
image-geometry==1.15.0
interactive-markers==1.12.0
message-filters==1.15.13
psycopg2==2.9.2
python-decouple==3.5
python-qt-binding==0.4.4
pytz==2021.3
requests==2.26.0
resource-retriever==1.12.6
smach==2.5.0
smach-ros==2.5.0
smclib==1.8.6
soupsieve==2.3.1
sqlparse==0.4.2
topic-tools==1.15.13
urllib3==1.26.7
whitenoise==5.3.0
xacro==1.14.10
